# Ignore build output directory
/build
/export
/datasets/
/run_tenet
/.cache/
/utilities/__pycache__/
# Ignore object files and dependent files
*.o
*.d
*.json

#Ignore logs folder and log files
/logs
*.log

#Ignore lock files
.lock

*.bin
.pdi
.peers.ini
.repo.yaml
.vitisWorkspace.json
