absl-py==2.3.1
alembic==1.16.5
autoray==0.8.2
bayesian-optimization==1.4.0
baytune==0.5.0
chex==0.1.90
chocolate==0.0.2
click==8.1.8
cloudpickle==3.1.2
cma==4.4.4
colorlog==6.10.1
contourpy==1.3.0
copulas==0.14.1
cotengra==0.7.5
cycler==0.12.1
cytoolz==1.1.0
dask==2024.8.0
directsearch==1.0.1
etils==1.5.2
exceptiongroup==1.3.1
flax==0.8.5
fonttools==4.60.2
fsspec==2025.10.0
funcy==2.0
greenlet==3.2.5
-e git+https://github.com/kalarimonk/hls4tenet.git@692dd3eda787123e4eecb0d6b964afe5da92d5f6#egg=hls_tenet
humanize==4.13.0
importlib_metadata==8.7.1
importlib_resources==6.5.2
iniconfig==2.1.0
jax==0.4.30
jaxlib==0.4.30
joblib==1.5.3
kahypar==1.3.6
kiwisolver==1.4.7
llvmlite==0.43.0
locket==1.0.0
Mako==1.3.10
markdown-it-py==3.0.0
MarkupSafe==3.0.3
matplotlib==3.9.4
mdurl==0.1.2
ml_dtypes==0.5.4
msgpack==1.1.2
narwhals==2.19.0
nest-asyncio==1.6.0
nevergrad==1.0.12
numba==0.60.0
numpy==2.0.2
opt_einsum==3.4.0
optax==0.2.4
optuna==4.8.0
orbax-checkpoint==0.6.4
packaging==26.0
pandas==2.3.3
partd==1.4.2
pillow==11.3.0
plotly==6.6.0
pluggy==1.6.0
prompt_toolkit==3.0.52
protobuf==6.33.6
psutil==7.2.2
pyaml==26.2.1
Pygments==2.19.2
pyparsing==3.3.2
pytest==8.4.2
python-dateutil==2.9.0.post0
pytz==2026.1.post1
PyYAML==6.0.3
questionary==2.1.1
quimb==1.11.2
rich==14.3.3
ruff==0.15.1
scikit-learn==1.6.1
scikit-optimize==0.10.2
scipy==1.13.1
six==1.17.0
SQLAlchemy==2.0.49
tensorstore==0.1.69
threadpoolctl==3.6.0
tn4ml @ git+https://github.com/bsc-quantic/tn4ml.git@2fbd658005449777bcd037a08fd863d7bd948475
tomli==2.4.0
toolz==1.1.0
tqdm==4.67.3
typing_extensions==4.15.0
tzdata==2026.1
wcwidth==0.6.0
zipp==3.23.0
